name: Release

on:
  push:
    branches:
      - release* # * implies any branch starting with `release`

permissions:
  contents: write # Required for github releases
  id-token: write # Required for OIDC authentication

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: pnpm
          registry-url: 'https://registry.npmjs.org' # Required for trusted publishing
      - run: pnpm add -g npm@latest # Update npm to at least v11.5.1 for trusted publishing
      - run: pnpm install
      - run: ./release-it.sh # Instead, run `pnpm dlx @firefoxic/release-it` or `npx @firefoxic/release-it` in your action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Required for github releases
